<!DOCTYPE html>
<html ng-app="rkvApp">
  <head>
    <title>NFR</title>
    <link rel='stylesheet' href='/b/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/b/angular/angular.js"></script>
  </head>
  <body>
    <div class="container-fluid topbar">
      <div class="row">
	<div class="col-lg-12">
	  <h1>Rødkælkedata</h1>
	</div>
      </div>
    </div>

    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>
